*{
    margin: 0%;
    padding: 0%;
}
.container{
    max-width: 1300px;
    margin: 0, auto;
    
}
.sortmain{
    
    width: 1000px;
   
    justify-content: center;
    border: 2px solid #059862;
    margin: auto;
    background-color:#fff;
    
}

.in{
    width:800px;
    height:30px;
    margin-left: 20px;
    margin-bottom: 50px;
    border: 2px solid #059862;
    
}
button{
    margin-left: 10px;
    height: 50px;
    width:150px;
    background-color: #059862;
    color: #fff;
    border: 1px solid #059862;
    border-radius: 4px;
    margin-bottom: 50px;
}

.output{
    width:800px;
    height:30px;
    margin-bottom: 50px;
    border: 2px solid #059862;
}
.sec{
    display: flex;
    justify-content: space-around;
}

.h1{
    margin-bottom: 30px;
    background-color: #059862;
    color: #fff;
    text-align:center ;
    padding: 5px;
}
.btn-div{
    display: flex;
    justify-content:center;
}